<form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
    <div class="form-group required">
        <label>Tên người dùng:</label>
        <input class="form-control" formControlName="UserName">
        <label class="text-danger"
            *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">Nội
            dung này bắt buộc</label>
    </div>
    <div class="form-group "  *ngIf="this.service.isCreate">
        <label>Email:</label>
        <input type="text" class="form-control" formControlName="Email" autocomplete="off">
        <label class="text-danger"
            *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.required">Nội
            dung này bắt buộc</label>
        <label class="text-danger"
            *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Email không hợp lệ</label>
    </div>
    <div class="form-group ">
        <label>SDT:</label>
        <input type="text" class="form-control" formControlName="PhoneNumber" autocomplete="off">
        <label class="text-danger"
            *ngIf="service.formModel.get('PhoneNumber').touched && service.formModel.get('PhoneNumber').errors?.required">Nội
            dung này bắt buộc</label>
    </div>
    <div class="form-group ">
        <label>Địa chỉ:</label>
        <input type="text" class="form-control" formControlName="Address" autocomplete="off">
    </div>
    <div class="form-group ">
        <label>Nghề nghiệp:</label>
        <input type="text" class="form-control" formControlName="Job" autocomplete="off">
    </div>

    <div formGroupName="Passwords" *ngIf="this.service.isCreate">
        <div class="form-group required">
            <label>Mật khẩu:</label>
            <input type="password" class="form-control" formControlName="Password" autocomplete="off">
            <label class="text-danger"
                *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">Nội
                dung này bắt buộc</label>
            <label class="text-danger"
                *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Ít
                nhất 4 kí tự</label>
            <label class="text-danger"
                *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.pattern">Ít
                nhất 8 kí tự với 1 chữ hoa, 1 chữ thường và 1 số.</label>
        </div>
        <div class="form-group required">
            <label>Xác nhận mật khẩu:</label>
            <input type="password" class="form-control" formControlName="ConfirmPassword">
            <label class="text-danger"
                *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">Nội
                dung này bắt buộc</label>
            <label class="text-danger"
                *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Xác
                nhận mật khẩu không khớp</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
            <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="!service.formModel.valid"><i
                    class="fas fa-save"></i> Thêm / Cập nhật</button>
        </div>
    </div>
</form>