<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/">Jewellery </a>
  
    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" (click)="onNavbarClose()">
      <i class="fas fa-bars"></i>
    </button>
    <ul class="navbar-nav ml-auto mr-0 mr-md-3">
  
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Đăng xuất</a>
        </div>
      </li>
    </ul>
  </nav>
  
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav" [class.toggled]="isNavbarCLosed">
      <li class="nav-item">
        <a class="nav-link" routerLink="/management/user">
          <i class="fas fa-fw fa-users"></i>
          <span>Quản lí người dùng</span></a>
      </li>
  
    </ul>
  
    <div id="content-wrapper">
  
      <router-outlet></router-outlet>
  
    </div>
    <!-- /.content-wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  
  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sẵn sàng thoát?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Chọn "Thoát" khi bạn muốn thoát khỏi chương trình.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
          <button class="btn btn-primary" type="button" data-dismiss="modal" (click)="onClick()">Thoát</button>
        </div>
      </div>
    </div>
  </div>