
<div class="container" style="padding-top:60px">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card-group">
          <div class="card d-4">
            <div class="card-body">
              <form #form='ngForm' name="form" (submit)="onSubmit(form)">
                <!-- <button type="submit" class="btn btn-block btn-success">
                  login
                </button> -->
                <div class="card-header">Đăng nhập</div>
                <div class="form-group mb-3" style="padding-top: 20px;">
                  <div class="form-label-group">
                    <input class="form-control" #Email="ngModel" name="Email" [(ngModel)]="formModel.Email" required
                      required placeholder="Email">
                  </div>
                </div>
                <div class="form-group mb-4">
                  <div class="form-label-group">
                    <input class="form-control" #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" required
                      type="password" placeholder="Mật Khẩu" required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-primary px-4" [disabled]="!form.valid">Đăng nhập</button>
                  </div>
                </div>
              </form>
              <hr style="border-top:1px soloid #eee;">
              <div class="row">
                <div class="col-6">
                  <button (click)="socailSignIn('facebook')" class="loginBtn loginBtn--facebook">
                    Đăng nhập bằng Facebook
                  </button>
                </div>
                <div class="col-6 text-right">
                  <button (click)="socailSignIn('google')" class="loginBtn loginBtn--google">
                    Đăng nhập bằng Google
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>